# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
gradle/gradle-daemon-jvm.properties

# other
eclipse
run

/neoforge/gameTestRun
/fabric/gameTestRun
/neoforge/serverRun
/fabric/serverRun

/.kotlin
