version: "3"
services:
  prometheus:
    image: "prom/prometheus:v3.7.3"
    restart: on-failure
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--query.lookback-delta=5s"
      - "--storage.tsdb.retention.time=1d"
      - "--web.enable-admin-api"
      - "--web.enable-remote-write-receiver"
      - "--enable-feature=exemplar-storage"
      - "--enable-feature=native-histograms"
    volumes:
      - source: ./docker-compose/dev/data/prometheus
        target: /prometheus
        type: bind
        bind:
          create_host_path: true
      - source: ./docker-compose/dev/config/prometheus/prometheus.yml
        target: /etc/prometheus/prometheus.yml
        type: bind
        read_only: true

  loki:
    image: "grafana/loki:3.5.8"
    restart: on-failure
    command:
      - "-config.file=/etc/loki/loki.yaml"
      - "-target=all"
    volumes:
      - source: ./docker-compose/dev/data/loki
        target: /var/lib/loki
        type: bind
        bind:
          create_host_path: true
      - source: ./docker-compose/dev/config/loki/loki.yaml
        target: /etc/loki/loki.yaml
        type: bind
        read_only: true
    healthcheck:
      test: [ "CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:3100/ready || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5

  tempo:
    image: "grafana/tempo:2.9.0"
    restart: on-failure
    command:
      "-config.file=/etc/tempo/tempo.yaml"
    volumes:
      - source: ./docker-compose/dev/data/tempo
        target: /var/tempo
        type: bind
        bind:
          create_host_path: true
      - source: ./docker-compose/dev/config/tempo/tempo.yaml
        target: /etc/tempo/tempo.yaml
        type: bind
        read_only: true

  otel-collector:
    image: "otel/opentelemetry-collector-contrib:0.139.0"
    restart: on-failure
    volumes:
      - source: ./docker-compose/dev/config/otel-collector/config.yaml
        target: /etc/otelcol-contrib/config.yaml
        type: bind
        read_only: true
    ports:
      - "4318:4318"

  grafana:
    image: "grafana/grafana-oss:12.1.1"
    restart: on-failure
    volumes:
      - source: ./docker-compose/dev/data/grafana
        target: /var/lib/grafana
        type: bind
        bind:
          create_host_path: true
      - source: ./docker-compose/dev/config/grafana/grafana.ini
        target: /etc/grafana/grafana.ini
        type: bind
        read_only: true
      - source: ./docker-compose/dev/config/grafana/provisioning/datasources
        target: /etc/grafana/provisioning/datasources
        type: bind
        read_only: true
    ports:
      - "3000:3000"
