distributor:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317
        http:
          endpoint: 0.0.0.0:4318

ingester:
  trace_idle_period: 1m

metrics_generator:
  storage:
    path: /var/tempo/metrics-wal
    remote_write:
      - url: http://prometheus:9090/api/v1/write
        send_exemplars: true
        send_native_histograms: true
        metadata_config:
          send: true
          send_interval: 1s

compactor:
  compaction:
    block_retention: 24h

storage:
  trace:
    backend: local
    wal:
      path: /var/tempo/wal
    local:
      path: /var/tempo/blocks

usage_report:
  reporting_enabled: false

overrides:
  defaults:
    metrics_generator:
      processors:
        - service-graphs
        - span-metrics
